.env
*.md
*.yml
*.conf
*.log
*.sh
*.pyc   
/secrets
.vscode
/extra
/bkp
/db
/certs
/.audit
/tmp
/.obsidian
/.idea
/Formatura_Villa
finance_backend
Dockerfile
go.sum
*.iml
*.xml
*.sqlite3
/backend/server
/.idea
/.vscode
.gitignore
.DS_Store
.opencode/skills/ui-ux-pro-max/data/charts.csv
/.opencode
*.csv
/.DS_Store
secrets/*.env
secrets/.env
secrets/backend.env
secrets/frontend.env
secrets/postgres.env
backend/main
